@import url("https://fonts.googleapis.com/css?family=Poppins");
.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  overflow: hidden;
  /* background-color: #27292d; */
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
  /* display: none; */
}

/* Track */
::-webkit-scrollbar-track {
  background: #8181819e;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ed8936;
  border-radius: 5px;
}
.nav-container {
  display: flex;
  padding: 0 20px;
  /* background: #034; */
  /* height: 40px; */
}
.nav-container h3 {
  font-size: 20px;
}
.nav-content {
  width: 100%;
  display: flex;
  /* background: #000; */
  justify-content: space-between;
}

.profile-image {
  height: 35px;
  width: 35px;
  margin: auto 0;
  background-color: #000;
  border-radius: 50%;
  overflow: hidden;
}
main {
  height: 100%;
  width: 100%;
  overflow-x: auto;
  /* background-image: url("./public/5085795_2643037\ 1.svg"); */
}
main div.hero-section,
.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.hero-section div,
.container .inner-container {
  margin: auto auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  /* margin: ; #ed9e6b   #df6382 pink*/
}
.google-btn {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.google-btn span {
  margin: auto auto;
  font-size: 18px;
}
.google-btn svg {
  margin: auto auto;
}
.google-btn p span {
  margin: auto auto;
}
.btn_container {
  display: flex;
  flex-direction: column;
}
.btn-container {
  margin: auto auto;
  /* height: 36px;
  width: 50%; */
  border-radius: 10px;
  padding: 1.5px 1.5px 1.5px 1.5px;
  display: flex;
  transition: ease-in-out;
}

.btn-container button {
  margin: auto auto;
  border: none;
  height: 35px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  width: 100%;
  transition: ease-in-out;
  background: linear-gradient(
    90deg,
    rgba(241, 39, 17, 1) 0%,
    rgba(245, 175, 25, 1) 100%,
    rgba(250, 0, 101, 1) 100%
  );
}
.btn-container button:hover {
  background-image: linear-gradient(to right, #fff, #fff);
  color: #000;
}

.btn-container:hover {
  background-image: linear-gradient(
    90deg,
    rgba(241, 39, 17, 1) 0%,
    rgba(245, 175, 25, 1) 100%,
    rgba(250, 0, 101, 1) 100%
  );
}

/* ---------------------------------   LOGIN STYLES   ----------------------------------------- */
div.inner-container {
  border-radius: 15px;
  box-shadow: 0.5px 1px 15px rgba(242, 166, 1, 0.387);
  /* border: 1px solid gray; */
  padding: 0px 20px;
}
.form-container {
  display: flex;
}

.form {
  margin: auto;
  /* margin: 0px 20px; */
  display: flex;
  flex-direction: column;
}
h3 {
  font-size: 25px;
  background: -webkit-linear-gradient(
    90deg,
    rgba(241, 39, 17, 1) 0%,
    rgba(245, 175, 25, 1) 100%,
    rgba(250, 0, 101, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.form div {
  margin: 8px 0px;
}

label {
  font-size: 16px;
  margin: 2px 0px;
  font-weight: 500;
}

.form div input {
  height: 45px;
  width: 300px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-weight: 200;
  padding: 0px 10px;
}
input[type="text"],
input[type="password"] {
  background-color: #df63824d;
}
input:focus {
  border: none;
  outline: none;
}
.auth {
  font-size: 12px;
  text-align: center;
}
a {
  font-size: 14px;
  background: -webkit-linear-gradient(
    90deg,
    rgba(241, 39, 17, 1) 0%,
    rgba(245, 175, 25, 1) 100%,
    rgba(250, 0, 101, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}
/* ------------------------------------------------------- Side Bar -------------------------------------------------- */

.side-bar {
  /* height: 80vh; */
  width: 22%;
  overflow-y: scroll;
  padding: 0px 0px;
}

/* ---------------------------------------- Person ------------------------------------------------------------------------ */
.person-container {
  height: 70px;
  display: flex;
  margin: 10px 0px;
  padding: 0px 10px;
}
.person-container:hover {
  background: #d0d0d0;
  border-left: 5px solid orangered;
}

.person-info {
  margin: auto 2px;
  display: flex;
}

.person-name {
  margin: auto 20px;
  height: fit-content;
}

.chat-page {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #eef2f4;
  /* background: #000; */
}

/* -------------------------------------------------------  Inbox  _--------------------------------------------------- */

.inbox {
  width: 58%;
  /* border-radius: 15px; */
  /* background: #000; */
  height: 88vh;
  padding: 5px 20px;
  /* box-shadow: 2px 2px 5px gray; */
  position: relative;
  overflow-y: scroll;
}

.info {
  width: 22%;
  overflow-y: scroll;
}

.message-container {
  width: fit-content;
  max-width: 70%;
  text-overflow: ellipsis;
  padding: 10px;
  margin: 5px 0px;
}
.incoming {
  background-color: #b5b7ba1f;
  border-radius: 0px 20px 20px 20px;
}

.outgoing {
  background-color: #ed8936;
  border-radius: 20px 0px 20px 20px;
  margin-left: auto;
  text-align: right;
  color: #fff;
}

.user-inbox {
  display: flex;
  margin-right: 0;
  justify-content: flex-end;
}
/* --------------------------------------------------------------   Typing board ----------------------------------------- */
.typing-board {
  width: 100%;
  height: 7vh;
  position: sticky;
  bottom: 0;
  margin: 0 -10;
  /* background-color: #000; */
}

.typing-board textarea {
  width: 98%;
  height: 52px;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 0 10px;
  outline: none;
}
